<div class="jumbotron">
    <center>
        <h1>Welcome to Launchpad's Pizza</h1>
        <img src="https://media.biobiochile.cl/wp-content/uploads/2017/09/pizza-e1506346270303-730x350.jpg" alt="launchpad's pizza">
        <br>
        <%= link_to "Check out our Pizzas", pizzas_path, class: "btn btn-default" %>
    </center>
</div>